# Atmel AT91SAM7A1 configuration file

if { [info exists CHIPNAME] } {
   set  _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME at91sam7a1
}

if { [info exists ENDIAN] } {
   set  _ENDIAN $ENDIAN
} else {
   set  _ENDIAN little
}

if { [info exists CPUTAPID ] } {
   set _CPUTAPID $CPUTAPID
} else {
   set _CPUTAPID 0x1f0f0f0f
}

jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME arm7tdmi -endian $_ENDIAN -chain-position $_TARGETNAME -variant arm7tdmi

$_TARGETNAME configure -event reset-init {
    echo "Clock setup"
    
    # Disable watchdog timer
    mww 0xfffa0068 0x00002340

    # CS0-3
    mww 0xffe00000 0x400030a5
    mww 0xffe00004 0x480030a5
    mww 0xffe00008 0x500030a5
    mww 0xffe0000c 0x5800303e

    # Disable clock
    mww 0xfffec004 0x18070024

    # PLL divider
    mww 0xfffec010 0x762d0005

    # Enable clock
    mww 0xfffec000 0x23050004

    # Master clock divider
    mww 0xfffec018 0xacdc0001

    # Remap
    mww 0xffe00020 0x00000001

    echo "Finished clock setup"

    # Increase JTAG speed to 6 MHz for flash programming
    jtag_khz 6000
}

# Use 4K internal RAM at 0x00000000 as work area
$_TARGETNAME configure -work-area-phys 0x00000000 -work-area-size 0x1000 -work-area-backup 0

# TODO: Move this to board file
flash bank ROM.flash   cfi 0x40000000 0x00400000 2 2 $_TARGETNAME
#flash bank FLASH.flash cfi 0x48000000 0x00400000 2 2 $_TARGETNAME
